:root {
    --blue: #6fb6fc;
    --lighterblue: #bdddfc;
    --white: #ffffff;
    }

html,body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height:100%;
}

#highScores div div{
  padding: 5px;
  font-weight:600;
}

#highScores button{
  margin:5px 0;
}

/* Section Specific Styles */

#positionWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100% - 110p)
}

section{
  max-width: 50%;
  margin: 0 auto;
}

#topbar{
  max-width:100%;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 30px;
}

#topbar button:hover{
    background-color: var(--blue);
}

#scores{
    left:40px;
}

#timer{
  right:40px;
}

#explain{
  text-align:center;
}


button{
  border: none;
  padding:5px;
  border-radius: 5px;
  cursor:pointer;
}

#quizHolder #title{
  font-weight:700;
}

#quizHolder button{
  border-radius:5px;
  border-color: var(--white);
  cursor:pointer;
  margin: 3px 0;
  display: block;
  padding: 5px 5px ; 
  background-color: var(--blue);
  width: 100%;
  text-align: left;
}

#scoreIndicator, #errorIndicator{
  border-top: 1px solid #999;
  font-size: 1.3em;
  margin: 0;
  font-style: italic;
  font-weight:700;
  margin: 10px auto;
}

#scoreIndicator p, #errorIndicator p{
margin:0;
margin-top:10px;
}

#records input, #records button{
margin-top:5px;
}

.hide{
  display:none;
}

.invisible{
  visibility:hidden;
}

.disable{
pointer-events:none;
}


@media only screen and (min-width: 768px) {

  #positionWrapper{
    min-height: calc(100% - 82px)
  }

  #finish #records{
    display:flex;
    align-items: center;
  }

  #finish #records input, #finish #records button{
    margin-left:10px;
  }

  #topbar{
    flex-direction:row;
  }

  #quizHolder{
    min-width:420px;
  }

  #quizHolder ol{
    min-width:100%;
  }

}